@{
    ViewData["Title"] = "Kitchens Page";
}
<div class="text-center my-5">
    <h2>Keukens</h2>
</div>


<div id="app" class="row">
    <div class="col-md-12">
        <div class="alert alert-info" v-if="feedback">
            {{feedback}}
        </div>
    </div>
    <div class="col-md-3">
        <ul class="list-group">
            <li v-for="kitchen in kitchens" v-on:click="getKitchenDetail(kitchen)" class="list-group-item">
                <h5>{{kitchen.name}}</h5>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary my-3" v-on:click="toNewMode()" v-bind:disabled="isUpdate">Nieuw</button>
        <button class="btn btn-warning my-3" v-on:click="toEditMode()" v-bind:disabled="isNew">Update</button>
        <button class="btn btn-primary my-1" v-on:click="createKitchen()">Voeg nieuwe keuken toe</button> <br />
        <button class="btn btn-warning my-1" v-on:click="updateKitchen()">Update de soort keuken</button> <br />
        <button class="btn btn-danger my-1" v-on:click="deleteKitchen()">Verwijder keuken</button> <br />
    </div>
    <div class="col-md-3" v-if="selectedKitchen">
        <label class="font-weight-bold">Naam Keuken :</label>
        <input class="form-control" v-bind:readonly="isReadOnly" v-model="selectedKitchen.name"/>
    </div>
</div>

@section scripts{
<script src="~/lib/vue/vue.js"></script>
<script src="~/lib/axios/axios.min.js"></script>

<script>
    var apiUrl = 'https://localhost:5001/api/Kitchens';
    const token = localStorage.getItem('jwtToken');
    const config = {headers: { Authorization: `Bearer ${token}` }};
    var app = new Vue({
        el: '#app',
        data:{
            kitchens: [],
            selectedKitchen: null,
            isReadOnly: true,
            isNew: false,
            isUpdate: false,
            feedback: ""
        },
        created: function(){
            var self =this;
            self.fetchKitchens();
        },
        methods:{
            fetchKitchens: function(){
                var self = this;
                return axios.get(apiUrl, config)
                    .then(res => {
                        self.kitchens = res.data;
                    });
            },
            getKitchenDetail: function(kitchen){
                var self = this;
                self.selectedKitchen = kitchen;
                window.scrollTo(0,0);
            },
            toNewMode: function(){
                var self = this;
                self.isReadOnly = false;
                self.isNew = true;
                self.selectedKitchen = {};
            },
            toEditMode: function(){
                var self = this;
                self.isUpdate = true;
                self.isReadOnly = false;
            },
            createKitchen: async function(){
                var self = this;
                var dto = {
                    Id: self.selectedKitchen.id,
                    Name: self.selectedKitchen.name,
                };
                await axios.post(apiUrl, dto, config)
                    .then(function(response){
                        self.feedback = `Keuken ${self.selectedKitchen.name} is aangemaakt`;
                    })
                    .catch(function (error){
                        console.log(error.response);
                    })
                    .then(function() {
                        self.isReadOnly = true;
                        self.isNew = false;
                        setTimeout(function () {self.feedback = null; }, 3000);
                    });
            },
            updateKitchen: async function(){
                var self = this;
                var dto = {
                    Id: self.selectedKitchen.id,
                    Name: self.selectedKitchen.name,
                };
                await axios.put(apiUrl, dto, config)
                    .then(function(response){
                        self.feedback = `Keuken ${self.selectedCategory.name} is aangepast`;
                    })
                    .catch(function (error){
                        console.log(error.response);
                    })
                    .then(function() {
                        self.isReadOnly = true;
                        self.isUpdate = false;
                        setTimeout(function () {self.feedback = null; }, 3000);
                    });
            },
            deleteKitchen: async function(){
                var self = this;
                var url = `${apiUrl}/${self.selectedKitchen.id}`;
                await axios.delete(url, config)
                      .then(function(response){
                        self.feedback = `recept ${self.selectedKitchen.name} is verwijderd`
                      })
                      .catch(function (error){
                        console.log(error.response);
                      })
                      .then(function() {
                        self.isreadonly = true;
                        settimeout(function () {self.feedback = null; }, 3000);
                    });
            }


        }

    });

</script>
}