<button class="btn btn-primary" @onclick="OnAddClick">Add Category</button>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in RecipeCategoryListItems)
        {
            <tr>
                <td>@item.Name</td>
                <td><button class="btn btn-warning" @onclick="e => OnEditClick.InvokeAsync(item)">Edit</button></td>
                <td><button class="btn btn-danger" @onclick="e => OnDeleteClick.InvokeAsync(item)">Delete</button></td>
            </tr>

        }
    </tbody>
</table>

@code {

    [Parameter]
    public IEnumerable<CategoryResponseDto> RecipeCategoryListItems { get; set; }

    [Parameter]
    public EventCallback OnAddClick { get; set; }

    [Parameter]
    public EventCallback<CategoryResponseDto> OnEditClick { get; set; }

    [Parameter]
    public EventCallback<CategoryResponseDto> OnDeleteClick { get; set; }
}
